!!!
%html
  %head
    !!! below line mentions to public folder and not the app stylesheets folder
    %link(rel="stylesheet" type="text/css" href="stylesheets/application.css")
    %title Radios
  %body
    #main= yield
